@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #DB4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-track {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.input {
  @apply border focus:outline-none rounded px-3 py-2 w-full focus:ring-2 ring-blue-600
}


.ReactTags__tagInputField {
  @apply border focus:outline-none rounded px-3 py-2 w-full focus:ring-2 ring-blue-600 mt-1
}

.ReactTags__selected {
  @apply flex items-center flex-wrap gap-2
}

.tag-wrapper.ReactTags__tag {
  @apply text-white  bg-blue-600 rounded px-2 flex items-center gap-1
}

.tag-wrapper.ReactTags__tag .ReactTags__remove {
  @apply text-red-500
}

.ReactTags__error {
  @apply text-red-500 flex items-center text-sm mt-1 gap-1
}

.ReactTags__error > svg {
  @apply w-[18px] h-[18px]
}

